.loginContainer {
    display: flex;
    justify-content: start;
    padding-left: 8vw;
    align-items: center;
    height: 100vh;
    width: 30vw;
}

.loginComponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.loginBox {
    border-radius: 10px;
}

.signupLink {
    color: #BDE460;
    text-decoration: underline;
}

.loginPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginBackground {
    background-color: #323644;
    height: 100vh;
    min-width: 55vw;
    max-width: 55vw;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, right center, left center, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
}